<!DOCTYPE html>
<html>
<head>
<title>Device list</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/"><img src={{ tux }} width="50px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <!--
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          -->
          <li class="nav-item">
            <a class="nav-link" href="/devices">Devices</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Timer
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/timers">Timarar</a>
              <a class="dropdown-item" href="/create_timer_input">Nýggjur</a>
              <!--
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
              -->
            </div>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
          -->
        </ul>
      </div>
    </nav>
<!--    <table>
    <tr>-->
    <div class="container">
    <div class="row">
{% for l in all_data %}
    <!--<button type="submit" name="plug_ip" value="{{l[0]}}">{{ l[0] }} {{ l[1] }}</button>-->
<th>
<form action="/test1" method="get">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ hs110 }}" alt="{{ l[1] }}">
    <div class="card-body">
    <h5 class="card-title">{{ l[1] }}<img class="img-responsive pull-left " src={{ on if l[2] else off }} style="width: 75px;"align="right"></h5>
    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">IP: {{ l[0] }}</li>
    </ul>
    <div class="card-body">
<button type="submit" name="plug_ip" value="{{l[0]}}" style="width: 100%; height: 100%;">Meiri info</button>
  <!--<a href="/test1" class="card-link">Another link</a>-->
  </div>
</div>
</form>
</th>
{% endfor %}
</div>
</div>
<!--
</tr>
</table>
-->
<!-- <meta http-equiv="refresh" content="1; 192.168.8.247:5000/device" /> -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
